Pillow==11.3.0
pdf2docx==0.5.8
docx2pdf==0.1.8
pdf2image==1.17.0
PyPDF2==3.0.1
openpyxl==3.1.5
moviepy==2.2.1
rarfile==4.2
py7zr==0.22.0
libsass==0.23.0
xmltodict==0.13.0
nbconvert==7.16.6
WeasyPrint==66.0
Markdown==3.10
pillow-heif==1.1.1
CairoSVG==2.8.2